<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <title>new drink form</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>


    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="/drinks/selectType">Feed</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>



    <div class="box"> <span id="big-text">Add a Drink</span></div>
    <script type="text/javascript" src="/javascripts/app.js"></script>

    <div class= "form-container">

    <form action="/api/drinks" method="post">
      <div class="form-group" id="label1">
        <label  >Alcohol</label>
        <input type="checkbox" name="alcohol" value="TRUE">
      </div>

      <%# make dropdown to bring in all locations%>

      <div class="dropdown form-group" id="venue-dropdown">
        <select name="venue" id="venuesDropdown">


        </select>
      </div>

      <div class="dropdown form-group" id= "drink-dropdown">

      <select name="drinkType" aria-labelledby="dropdownMenu1">
        <option value="Wine" name="drinkType">Wine</option>
        <option value="Beer" name="drinkType">Beer</option>
        <option value="Cocktails" name="drinkType">Cocktails</option>
      </select>
     </div>

      <div class="form-group" id="drink-name">
        <label>Drink name: </label>
        <input type="text" name="drinkName">
      </div>
      <div class="form-group" id="submit-button">
        <input type="submit" value="submit">
      </div>
    </form>
  </div>
    <link rel="stylesheet" href="/stylesheets/addDrink.css">
    <script type="text/javascript" src="../javascripts/app.js">

    </script>
  </body>
</html>
