<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new drink form</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
    <h1>Add New Drink</h1>


    <form action="/drinks" id="newDrinkForm" method="post">

      <%# <div class="dropdown">
       <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1 drinkTypeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         Drink Type
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
         <li><a href="#">Wine</a></li>
         <li><a href="#">Beer</a></li>
         <li><a href="#">Cocktails</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Coffee</a></li>
         <li><a href="#">Juice's</a></li>
         <li><a href="#">Teas</a></li>
         <li><a href="#">Smoothies</a></li>
       </ul>
      </div>%>


      <%# <form  id="drinkTypeMenu">%>
     <%# <input class="input-task" type="text" name="drinkType" id="drinkTypeMenu">%>
     <%# <select name="drink[drinkType]" id="drinkTypeMenu">
       <option value="" disabled selected>Drink Type</option>
       <option value="wine">Wine</option>
       <option value="beer">Beer</option>
       <option value="cocktail">Cocktail</option>
       <option value="coffee">Coffee</option>
       <option value="juice">Juice</option>
       <option value="smoothie">Smoothie</option>
     </select>%>
 
   <%# </form>%>


      <div class="form-group">
        <label>Alcohol</label>
        <input type="checkbox" name="alcohol" value="TRUE">
      </div>

      <div class="dropdown form-group">
          <%# <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>%>
          <%# </button>%>
          <select name="drinkType" aria-labelledby="dropdownMenu1">
            <option value="Wine" name="drinkType">Wine</option>
            <option value="Beer" name="drinkType">Beer</option>
            <option value="Cocktails" name="drinkType">Cocktails</option>
          </select>
         </div>


      <%# <div class="form-group">
        <label>Drink type: </label>
        <input type="text" name="drinkType">
      </div>%>
      <div class="form-group">
        <label>Drink name: </label>
        <input type="text" name="drinkName">
      </div>
      <div class="form-group">
        <input type="submit" value="submit">
      </div>
    </form>
    <script type="text/javascript" src="../javascripts/app.js">

    </script>
  </body>
</html>
