<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%# <div class="dropdown form-group">
      <select name="drinkType" aria-labelledby="dropdownMenu1">
        <option value="Wine" name="drinkType">Wine</option>
        <option value="Beer" name="drinkType">Beer</option>
        <option value="Cocktails" name="drinkType">Cocktails</option>
      </select>
     </div>%>
    <div class="">
      <a href="/drinks?drinkType=Wine">wine</a>
      <a href="/drinks?drinkType=Beer">beer</a>
      <a href="/drinks?drinkType=Cocktails">Cocktail</a>
    </div>
  </body>
</html>
