<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%# <div class="dropdown form-group">
      <select name="drinkType" aria-labelledby="dropdownMenu1">
        <option value="Wine" name="drinkType">Wine</option>
        <option value="Beer" name="drinkType">Beer</option>
        <option value="Cocktails" name="drinkType">Cocktails</option>
      </select>
     </div>%>
    <div class="">
      <%# <a href="/drinks?drinkType=Wine">Wine</a>
      <a href="/drinks?drinkType=Beer">Beer</a>
      <a href="/drinks?drinkType=Cocktails">Cocktails</a>
      <a class="chosenDrinkType" href="/drinks/wine">Pretty Wine Page</a>%>
      <a class="chosenDrinkType">Wine</a>
      <a class="chosenDrinkType">Beer</a>
      <a class="chosenDrinkType">Cocktails</a>
      <ul class="wine">

      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
