<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
      <div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand logo" href="/"> Quench </a>

    		</div>
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    			<ul class="nav navbar-nav">
    				<li class="type-tab"><a class="chosenDrinkType">Wine<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-heart-empty"></span></a></li>
    				<li class="type-tab"><a class="chosenDrinkType">Beer<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-grain"></span></a></li>
    				<li class="type-tab"><a class="chosenDrinkType">Cocktails<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-glass"></span></a></li>
            <li class="type-tab"><a class="">Juices<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-apple"></span></a></li>
            <li class="type-tab"><a class="">Smoothies<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star-empty"></span></a></li>
            <li class="type-tab"><a class="">Coffee<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-certificate"></span></a></li>
            <li class="type-tab"><a class="">Bobba<span style="font-size:25px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tint"></span></a></li>
    			</ul>
    		</div>
    	</div>
    </nav>
    <div class="main">
      <div class="drink-list">
        <span id="select"> { Select a Category } </span>
        <ul class="wine">
          <%# list of wines with drinktype chosen are listed here%>
        </ul>
        <a  href= "/drinks/new"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a drink</button></a>
      </div>
    </div>

    <div class="">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/drinkType.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
