/*Login page*/
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
.logo {
  color: #fff;
  font-size: 650%;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-bottom: 15px;
}

.google {
  text-align: center;
}
body {
  background-image: url("../img/drink.jpg");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;

}

.navbar-default {
  background-color: rgba(255,255,255,0.2);
}

.login_modal {
  text-align: center;
  margin-bottom: 15px;

}

#modal_button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

#login_with_google {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 180px;
}

.side-nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
}

.modal-title {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 25pt;
}

.modal-body {
  font-family: 'Poiret One', cursive;
  font-size: 15pt;
}
/* Background image taken from unsplash.com, a free use site*/
